
 <div class="row" style="margin-left: auto; margin-right: auto; font-size: 110%">
   <br>  
<div class="small-12 medium-10 medium-offset-1 columns shadow1 rad base divider">
  <br>
<h1 style="text-align: center;">FAQ</h1><br>
<h3 style="text-align: left;">What is SkillSesh?</h3><br>
<div>

SkillSesh is a platform for discovering, teaching, and learning new skills. Everyone has a useful skill, and we allow you to make money while sharing your know-how with others in your local community. We believe anyone can learn anything through short, face-to-face skill sessions.

</div><br>
<h3 style="text-align: left;">How does SkillSesh work?</h3><br>
<div>

Want to learn something? Browse sessions in your area and book the one you want.<br>

Want to teach something? Create a listing and name your price.<br>

Can’t find what you’re looking for? Make a skill request and the teachers will come.<br>

It’s that easy.
</div>
<div><br>
<h3>What classes does SkillSesh offer?</h3><br>
Whatever you -- and the brilliant, talented people in your community -- decide to offer.
</div>
<div class="text-center"><br>
 <img class="img-responsive center-block" src="/images/SkillSesh_BrandInitial2.png"/>
</div>
<br><br>
<h1 style="text-align: center;">For Learners</h1><br>
<div>
<h3 class>Why should I learn from SkillSesh?</h3><br>
<div>We all get stuck while learning new things. SkillSesh makes it easy to find the right person to help. No need for expensive, time-intensive courses. Learn on your own terms.</div>
</div>
<div><br>
<h3>Who teaches these Skill Sessions?</h3><br>
<div>The amazingly talented people in your community. Seriously, how cool is that?</div>
</div>
<div><br>
<h3>How much does a Skill Session cost?</h3><br>
<div>Price varies depending on the Skill Session. Each teacher sets his or her own price.</div>
</div><br><br>
<h1 style="text-align: center;"> For Teachers</h1><br>
<div><br>
<h3>Why use SkillSesh?</h3><br>
<div>

Outreach. Our marketing is your marketing. Everyone who signs up, as a teacher or learner is now in your network<br>

Experience. Teach well, get reviewed, get more students.  SkillSesh can turn your passion into a career.<br>

Open Marketplace. Have a cool skill you’ve always wanted to share with others? Go for it!

</div>
</div>
<div><br>
<h3>How do I get people to learn from me?</h3><br>
<div>

Your network. We bet you know people who know people interested in learning a skill you can teach.<br>

Our network. Everyone on Skillsesh is a potential student. We share and share alike.<br>

Your awesomeness. Tell the world why you’re good at what you do and how you can make them good at it too.<br>

</div>
</div>
<div><br>
<h3>How do I get paid?</h3><br>
<div>

After completing a session, payment will show up in your bank account in 2-3 days. Don’t want to use your bank account? We can also have payment sent to a specific email address through Braintree, so no bank account needed!<br>

A small percentage of what you charge goes to keep the gears moving. We reinvest the funds in your further success.
  <br>
  <br>
</div>
</div>
</div>
</div>  
