<div class="profile-skills">
  <h2>
    Skills
  </h2>
  <%= form_for @profile, :remote => true do |f| %>
      <%= f.text_field :skills, :class => "form_control",  :data => {:role => "tagsinput"}, :inputmode => "latin", :value => stringify(@profile.skills) %>
      <%= f.submit "Update skills", :class => "btn btn-success"%>
  <% end %>
</div>