<h1 class="profile-name">
  <%= editable @profile, :first_name, {:title => "Edit your first name", :data => {:pk => @profile.id}, :class => "editable-default"} %>
  <%= editable @profile, :last_name, {:title => "Edit your last name", :data => {:pk => @profile.id}, :class=>"editable-default"} %>
</h1>