<div class="profile-bio">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Bio
      </h2>
    </div>
    <div class="col-xs-12">
      <%= editable @profile, :bio, {:tag => 'p', :title => "Edit your bio", :type => "textarea", :class=>"editable-default"} %>
    </div>
  </div>
</div>
