<div id="accordion-msgs" class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag @profile.photo, :class => "img-responsive img-circle" %>      
        </div>
        <div class="col-md-8">
        <p class="panel-message">
          <%= Faker::Lorem.paragraph %>        
        </p>
        </div>
      </div>
      </div>
    </div>
</div>