<div class="profile-bio">
  <div class="row">
    <div class="col-xs-12">
      <h2>
        Bio
      </h2>
    </div>
    <div class="col-xs-12">
      <p>
      <% if @profile.id === @user.id %>
        <%= editable @profile, :bio, {:title => "Edit your bio", :type => "textarea", :class=>"editable-record"} %>
      <% else %>
        <%= @profile.bio %>
      <% end %>
      </p>
    </div>
  </div>  
</div>