<!-- One container, two rows -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= render :partial => 'profile_photo' %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= render :partial => 'profile_bio' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <%= render :partial => 'profile_courses' %>
    </div>
    <div class="col-xs-12 col-sm-3">
      <%= render :partial => 'profile_skills' %>
    </div>
  </div>
</div>