<div id="panel-initial-collapse" class="panel-collapse collapse">
  <div class="panel-body panel-initial-body">
    <h4>
      How
    </h4>
    <p class="editable-new editable-new-how" data-type="textarea" data-name="how" data-model="course" data-emptyText="What'll you do to reach your goal?"></p>
  </div>
</div>
<div class="panel-footer panel-initial-footer">
  <button type="button" class="btn-sm btn-primary">
    Start over
  </button>
  <button type="button" class="btn-sm btn-danger disabled">
    Submit
  </button>
</div>