<h4>
  Requirements
</h4>
<p class="editable-new editable-new-requires" data-type="textarea" data-name="requirements" data-model="course" data-emptyText="Anything the student needs to know or have on hand? If not, it's okay to leave this blank"></p>

<h4>
  Duration
</h4>
<p class="editable-new editable-new-duration" data-type="number" data-name="duration" data-model="course" data-emptyText="How long?"></p>

<h4>
  Price
</h4>
<p class="editable-new editable-new-price" data-type="number" data-name="price" data-model="course" data-emptyText="How much?"></p>