<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div>
    

    <div class="omb_login">
		<div class="row omb_socialbuttons">
      <div class="row">
    	    <div class="small-12 medium-4 columns">
		        <a href="/auth/facebook" class="button facebookbtn omb_btn-facebook">
			        <i class="fa fa-facebook"></i>
			        <span class="hidden-xs">&nbsp;Facebook</span>
		        </a>
	        </div>         
      
        	<div class="small-12 medium-4 columns">
		        <a href="/auth/google" class="button googlebtn omb_btn-google">
			        <i class="fa fa-google-plus"></i>
			        <span class="hidden-xs">&nbsp;Google+</span>
		        </a>
	        </div>	
          <div class="small-12 medium-4 columns">
		        <a href="/auth/linkedin" class="button linkedinkbtn omb_btn-twitter">
			        <i class="fa fa-linkedin"></i>
			        <span class="hidden-xs">&nbsp;Linkedin</span>
		        </a>
	        </div>
      </div>
		</div>    	
	</div>
</div>