<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<div >
    

    <div class="omb_login">
		<div class="row omb_row-sm-offset-3 omb_socialButtons">
    	    <div class="col-xs-4 col-sm-4">
		        <a href="/auth/facebook" class="btn btn-lg btn-block omb_btn-facebook">
			        <i class="fa fa-facebook visible-xs"></i>
			        <span class="hidden-xs">Facebook</span>
		        </a>
	        </div>
        	
        	<div class="col-xs-4 col-sm-4">
		        <a href="/auth/google" class="btn btn-lg btn-block omb_btn-google">
			        <i class="fa fa-google-plus visible-xs"></i>
			        <span class="hidden-xs">Google+</span>
		        </a>
	        </div>	
          <div class="col-xs-4 col-sm-4">
		        <a href="/auth/linkedin" class="btn btn-lg btn-block omb_btn-twitter">
			        <i class="fa fa-linkedin visible-xs"></i>
			        <span class="hidden-xs">Linkedin</span>
		        </a>
	        </div>	
		</div>

		    	
	</div>



        </div>