<div class="row">

<div class="small-12 medium-6 columns tutor-profile2">
  <h3 class="text-center"> Session Feedback</h3><br>
1. How was communication with your tutor?
<input id="input-6b" class="rating form-control" value="4" data-min="1" data-max="5" data-step="0.5" data-size="sm" style="display: none;">

2. How well did your tutor achieve the sessions's goal?
<input id="input-6b" class="rating form-control" value="4" data-min="1" data-max="5" data-step="0.5" data-size="sm" style="display: none;">

3. Would you recommend this tutor to others?
<input id="input-6b" class="rating form-control" value="4" data-min="1" data-max="5" data-step="0.5" data-size="sm" style="display: none;">
4. Any comments?
  <div class="small-12 columns">
    <textarea placeholder="I really enjoyed..."></textarea>
    </div><br>
  <div class="small-12 columns text-center">
  <button class="btn-info" style="">Submit</button>
  </div>
  </div>
</div>