<div class="jumbotron">
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12">
                <h2>
                  Learn what you want from the people in your community
                </h2 >
          </div>  <!-- END of column -->
        </div> <!-- END of row -->
         <div class="row">
                  <div class="col-xs-12">
                    <p class="text-center">
                      We'll be launching in Portland soon!
                    </p>
                  </div> <!-- END of column -->
                </div> <!-- END of row -->
          <div class="row">
            <div class="col-xs-12 text-center">
              <a href="/auth/facebook"><button class="btn-primary btn-lg">Sign up with Facebook</button></a>
            </div> <!-- END of column -->
          </div> <!-- END of row -->
      </div> <!-- END of container -->
</div> <!-- END of jumbotron -->
