@import "variables"

@import "bootstrap"

@import "bootswatch"

@import "SocialLogin"

body
  padding-top: 58.921px

.jumbotron header
  margin:
    bottom: 33.16px

.hero-action
  margin:
    bottom: 18.662px

.dropdown-menu
  text-align: center
  width: 100%

.dropdown
  margin:
    bottom: 10.503px

.small
  margin: 5.911px

.intro
  margin:
    bottom: 18px

.tutor
  margin:
    bottom: 44.202px

.mission p
  margin:
    bottom: 18px

.team h2
  margin:
    bottom: 23.994px

.team-member
  margin:
    bottom: 42.635px

@media (min-width: $screen-md-min)
  .tutor
    padding: 40px
    
@media (min-width: $screen-md-min)
  .team-member
    padding: 70px
    
@media (min-width: $screen-md-min)
   
    

