

@import "bootstrap-sprockets"

@import "bootstrap"


@import "SocialLogin"

@import "bootstrap-modal-bs3patch"

@import "bootstrap-modal"

@import "bootstrap-tagsinput"

@import "rails_bootstrap_forms"

@import "typeahead"

@import "bootstrap-datetimepicker"

@import "editable/bootstrap-editable"

.jumbotron header
  margin:
    bottom: 33.16px

.hero-action
  margin:
    bottom: 18.662px

.dropdown-menu
  text-align: center
  width: 100%

.dropdown
  margin:
    bottom: 10.503px

.small
  margin: 5.911px

.intro
  margin:
    bottom: 18px

.tutor-unit
  margin:
    bottom: 50px
    top: 20px
    right: 10px
    left: 10px
  
  border-style: solid
  border-width: 1px
  border-color: #00a550
  border-radius: 10px
  position: relative !important
  top: 30px !important
  text-align: center 
  padding-bottom: 0px !important
  background-color: rgba(69, 193, 130, 0.06)

.tutor-name
  position: relative !important
  top: -50px !important
  color: #00a550
  font-weight: bold
  font-size: 170%
  
.tutor-skills
  position: relative !important
  top: -50px !important
  bottom: -50px !important
  
.tutor-profile1
  border-style: solid
  border-width: 1px
  border-color: #00a550
  text-align: center
  
.mission p
  margin:
    bottom: 18px

.team h2
  margin:
    bottom: 23.994px

.team-member
  margin:
    bottom: 42.635px

@media (min-width: $screen-md-min)
  .tutor-unit
    padding-bottom: 20px
    padding-top: 20px
@media (min-width: $screen-xs-min)
  .team-member
    padding: 70px
    
@media (max-width: $screen-sm-max)
  .btnmain
    text-align: center 
      
body
  padding-top: 50px   

header
  margin-bottom: 0px !important  
  
.jumbotron 
  padding-bottom: 0px !important
  margin-bottom: 0px !important
  background-color: rgba(69, 193, 130, 0.06)!important
  color: #4579b3 !important 
  border-style: solid
  border-width: 1px
  border-color: #00a550 
  border-radius: 10px
  margin-top: 30px
  
@media (max-width: 767px) 
  .jumbotron
    margin-top: 60px!important
  
.half-line 
  line-height: 0.5em
  
.intro
  margin-bottom: 0px !important
  
h1
  margin-top: 0px !important
  
.navbar
  background-color: #00a550 !important
  
  
.navbar-collapse
  font-size: 100% !important

  
.btn-primary  
  background-color: #ffffff !important
  color: #4579b3
  border-style: solid
  border-width: 1px
  border-color: #4579b3
  
.btn-primary:hover 
  border: 1px solid #4579b3!important 
  color: white
  background-color: #4579b3!important

  
  
.btn-info  
  background-color: #ffffff !important  
  color: #00a550
  border-style: solid
  border-width: 1px
  border-color: #00a550
  
.btn-info:hover 
  border: 1px solid #00a550!important 
  color: #ffffff
  background-color: #00a550!important


.login-btn
  padding-top: 14px
  color: #ffffff
  border: 1px solid #ffffff!important   
  background-color: #00a550!important  
  
.login-btn:hover 
  border: 1px solid #00a550!important 
  color: #00a550
  background-color: #ffffff!important
  
.bootstrap-tagsinput
  min-width: 50%
  text-align: left  
  .tag
    display: inline-block
      
.label-info:hover 
  border: 1px solid #ffffff!important 
  color: #ffffff !important
  background-color: #4579b3!important

.label-info
  border: 1px solid #4579b3!important 
  background:
    color: #ffffff  !important
  color: #4579b3  !important
  border-radius: 10px  
  margin: 
    bottom: 8px
  font-weight: bold
  font-size: 100%
  line-height: 2

.label-inert
  margin:
    left: 5px

.label-inert:first-of-type
  margin:
    left: 0px

.panel-title
  margin:
    bottom: 28px

.profile-name
  margin:
    bottom: 0px

.profile-photo
  margin:
    bottom: 0px
  position: absolute !important
  z-index: 10
  top: -0px !important


.panel-group .panel
  margin:
    bottom: 36px

.editable-unsaved
  font:
    style: italic
    weight: normal

.panel-message
  padding:
    top: 10.5px

@media (max-width: $screen-xs-max)
  .navbar-brand
    width: 75%
    
  input
    font-size: 16px

@media (min-width: $screen-sm-min)
  .profile-photo
    padding: 15px !important 

   
  .profile-name
    padding-top: 18px
   
  .modal-dialog
    margin: 0 0 0 0

.tutor-photo
  position: relative !important
  top: -50px !important
  bottom: 50px !important

.try-up
  position: relative !important
  top: 15px !important

.panel-heading
  background-color: rgba(69, 193, 130, 0.06)!important

.panel-footer
  background-color: rgba(69, 193, 130, 0.06)!important   

.panel-default 
  border-style: solid
  border-width: 1px
  border-color: #00a550 
  border-radius: 10px !important

.tutor-profile2
  background-color: rgba(69, 193, 130, 0.06)!important  
  border-style: solid
  border-width: 1px
  border-color: #00a550 
  border-radius: 10px
  margin-top: 20px
  
.biopad
  margin-left: 14px
  margin-right: 14px

.profpad
  padding-bottom: 20px

.profile-up
  position: absolute !important
  top: 80px !important
  
