@media (min-width: 1080px) {
    .omb_row div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialbuttons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialbuttons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialbuttons .omb_btn-facebook {margin-bottom: 6px;}
.omb_login .omb_socialbuttons .omb_btn-twitter {margin-bottom: 6px;}
.omb_login .omb_socialbuttons .omb_btn-google {margin-bottom: 6px;}


.highlightit img{ 
  border: 2px solid #00a550;
}

.highlightit:hover img{
border: 0px solid #f3c120; 
}  
	
.highlightit2 img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 1;
opacity: 1; 
}

.highlightit2:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 0.4;
opacity: 0.4;
border: 3px solid #f3c120;   
}

.barrier {
  margin-top: 60px
}

.tutors-listing > .row > .medium-3:nth-child(4n+1) {
    clear: both;
}  
.tutors-listing > .row > .small-12:nth-child(4n+1) {
    clear: both;
}

h1 { font-family: 'Montserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h2 { font-family: 'Montserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h3 { font-family: 'Montserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h4 { font-family: 'Montserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h5 { font-family: 'Montserrat', 'Inconsolata', 'Droid Sans', serif!important;}

body { font-family: 'Lora', 'Montserrat', 'Droid Sans', serif!important;
color:#838383;}


/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}