@media (min-width: 1080px) {
    .omb_row div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}

.btn {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
          border: 3px solid white !important;
}

.modal {
background-color: rgba(255, 255, 255, 0.4) !important;
}

.btn:hover {
border: 4px solid #00A550!important;    

}


.highlightit img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 0.7;
opacity: 0.7; 
border: 4px solid #00A550;    
}

.highlightit:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 1;
opacity: 1;
border: 6px solid #f3c120; 
}  
	
.highlightit2 img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
-moz-opacity: 1;
opacity: 1; 
}

.highlightit2:hover img{
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
-moz-opacity: 0.4;
opacity: 0.4;
border: 3px solid #f3c120;   
}

.barrier {
  margin-top: 60px
}

.tutors-listing > .row > .col-md-3:nth-child(4n+1) {
    clear: both;
}
.tutors-listing > .row > .col-sm-3:nth-child(4n+1) {
    clear: both;
}

h1 { font-family: 'Monserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h2 { font-family: 'Monserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h3 { font-family: 'Monserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h4 { font-family: 'Monserrat', 'Inconsolata', 'Droid Sans', serif!important;}

h5 { font-family: 'Monserrat', 'Inconsolata', 'Droid Sans', serif!important;}

body { font-family: 'Lara', 'Droid Sans', serif!important;}

.brandup {
padding-top: 10px!important;
}

.control-label {
font-size: 250%;
}


#myCarousel {
    width: 100%;
  z-index: -99;
}

.carousel {
  z-index: -99; }

.carousel-control {
    margin-top: 20px;
}
.carousel-inner .item {
    width: 100%;
    height: 600px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.ad1 {
    background: url(../images/Skillsesh_IllustrationToons_Bikes.png) no-repeat center center fixed; 
}
.ad2 {
    background: url(../images/Skillsesh_IllustrationToons_Cook.png) no-repeat center center fixed; 
}
.ad3 {
    background: url(../images/Skillsesh_IllustrationToons_Guitar.png) no-repeat center center fixed; 
}
.ad4 {
    background: url(../images/Skillsesh_IllustrationToons_Paint.png) no-repeat center center fixed; 
}
.ad5 {
    background: url(../images/Skillsesh_IllustrationToons_Wood.png) no-repeat center center fixed; 
}
